<h2>Inbox</h2>
<ol>
    {% for item in conversation_data %}
        {% if item.last_message %}  <li>
            <a href="{% url 'messaging:conversation_view' item.conversation.id %}">
                {% if item.other_user_username %}
                    <strong>{{ item.other_user_username }}</strong>
                    <p>
                        {{ item.last_message.content }}
                    </p>
                {% else %}
                    <span class="no-participant">(No other participant)</span>
                {% endif %}
            </a>
        </li>
        {% endif %}
    {% endfor %}
</ol>