<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Tour Connect</title>
</head>
<body>
  <h1>Welcome to Tour Connect</h1>

  {% if user.is_authenticated %}
  <a href="{% url 'accounts:logout' %}">Logout</a>
  {% else %}
  <a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:select_user_type' %}">Register</a>
  {% endif %}

  <h2>Featured Tours</h2>
  <a href="{% url 'bookings:booking_list' %}"> My Bookings</a>

  <form method="get" action="{% url 'tours:tour-list' %}">
    <input type="text" name="q" placeholder="Search tours..." value="{{ request.GET.q }}">
    <input type="date" name="start_date" value="{{ request.GET.start_date }}">
    <input type="date" name="end_date" value="{{ request.GET.end_date }}">
    <button type="submit">Search</button>
  </form>

  {% for tour in tours %}
  <div>
    <h3>{{ tour.title }}</h3>
    <p>Guide: {{ tour.guide.username }}</p>
    <p>{{ tour.description }}</p>
    <p>Price: {{ tour.price }}</p>

{% if tour.dates.all %}
    <p>
        {% with tour.dates.count as tour_count %}
        {% with tour.dates.first.start_date as start_date %}
        {% with tour.dates.last.start_date as end_date %}
        There are {{ tour_count }} available dates between {{ start_date|date:"Y-m-d" }} and {{ end_date|date:"Y-m-d" }}.
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </p>

    {% if user.is_authenticated and user.user_type == 'tourist' %}
        {% if tour.is_active %}
            <a href="{% url 'tours:tour-detail' tour.id %}">View Details & Book</a>
        {% else %}
            <a>Is not active</a>
        {% endif %}
    {% elif not user.is_authenticated %}
        <a href="{% url 'accounts:login' %}?next={{ request.path }}">View Details & Book</a>
    {% endif %}
{% else %}
    <p>No dates available for this tour yet.</p>
{% endif %}

    {% if user.is_authenticated and user.user_type == 'tourist' %}
    <a href="{% url 'reviews:add_to_wishlist' tour.id %}">Add to Wishlist</a>
    <a href="{% url 'messaging:create_conversation' tour.guide.id %}">Message Guide</a>
    {% elif not user.is_authenticated %}
    <a href="{% url 'accounts:login' %}?next={{ request.path }}">Add to Wishlist</a>
    <a href="{% url 'accounts:login' %}?next={{ request.path }}">Message Guide</a>
    {% endif %}

    {% for image in tour.images.all %}
    <img src="{{ image.image.url }}" alt="{{ image.caption }}" width="200">
    {% endfor %}
  </div>
  {% endfor %}
</body>
</html>