<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Tour Connect</title>
</head>
<body>
    <h1>Welcome to Tour Connect</h1>

    {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:select_user_type' %}">Register</a>
    {% endif %}

    <h2>Featured Tours</h2>
    {% for tour in tours %}
        <div>
            <h3>{{ tour.title }}</h3>
            <p>{{ tour.description }}</p>
            <p>Price: {{ tour.price }}</p>
            <a href="{% if user.is_authenticated %}
                         {% url 'bookings:create_booking' tour.dates.all.first.id %}
                         {% else %}
                         {% url 'accounts:login' %}?next={{ request.path }}
                         {% endif %}">Book Now</a>
            <a href="{% if user.is_authenticated %}{% url 'add_to_wishlist' tour.id %}{% else %}{% url 'login' %}?next={{ request.path }}{% endif %}">Add to Wishlist</a>

            {% for image in tour.images.all %}
                <img src="{{ image.image.url }}" alt="{{ image.caption }}" width="200">
            {% endfor %}

        </div>
    {% endfor %}

</body>
</html>